<div
  class="detail-hero{{ hight ? ' _hight'}}"
  style="
    --hero-img-mobile: url('../assets/img/hero-bg/{{ bgMobile}}');
    --hero-img-desktop: url('../assets/img/hero-bg/{{ bgDesktop}}');
  "
>
  <div class="container">
    {% include 'breadcrumbs.twig' %}

    <h1 class="detail-hero__title">{{ title }}</h1>

  {% if (text) %}
    <p class="detail-hero__text">{{ text }}</p>
  {% endif %}

  {% if (orderBtn) %}
    <a href="#" class="detail-hero__order-btn btn js-open-popup" data-popup-id="order-popup">Оставить заявку</a>
  {% endif %}
  </div>
</div>
