{% extends 'templates/base.twig' %}

{% set pageName = 'main' %}

{% block page %}
<h1 class="visually-hidden">Центр поддержки предприятий ОПК</h1>
<section class="hero section">
  <div class="container">
    <div class="splide js-slider" data-name="hero">
      <div class="splide__track">
        <ul class="splide__list hero__list">
        {% for i in 1..5 %}
          <li class="splide__slide hero__item">
            <h2 class="hero__title">{{ loop.index }}Получите кэшбэк от стоимости банковской гарантии</h2>
            <div class="hero__bottom">
              <p class="hero__desc">При условии самостоятельного оформления через личный кабинет, на любой счет, указанный при регистрации</p>
              <a href="#" class="hero__order-btn btn">Получить</a>
            </div>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="mission section">
  <div class="container">
    <div class="mission__inner">
      <div class="mission__title-wrap">
        <h3 class="mission__subtitle">О&nbsp;компании</h3>
        <h2 class="misson__title title">Наша миссия</h2>
      </div>
      <ul class="mission__list">
      {% set list = [
        {
          title: 'Цель',
          desc: 'Создание закрытой экосистемы (комплекса взаимоотношений между заказчиками и&nbsp;исполнителями в&nbsp;защищенной сети обмена информацией) поддержки предприятий ОПК.',
        },
        {
          title: 'Задача',
          desc: 'Формирование комплексного подхода к&nbsp;анализу, мониторингу и&nbsp;обеспечению информационной и&nbsp;финансовой поддержки участников отношений, в&nbsp;том числе в&nbsp;рамках исполнения государственного оборонного заказа (ГОЗ)',
        },
        {
          title: 'Реализация',
          desc: 'Создание закрытой экосистемы сервисов для заказчиков услуг посредством использования защищенной сети АСТ ГОЗ и&nbsp;инструментов специализированной организации.',
        },
      ] %}
      {% for item in list %}
        <li class="mission__item" data-order="{{ loop.index }}">
          <h3 class="mission__item-title">{{ item.title }}</h3>
          <p class="mission__item-desc">{{ item.desc }}</p>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</section>

<section class="fin-products">
  <div class="container">
    <h2 class="fin-products__title title">Финансовые продукты</h2>
    <ul class="fin-products__list">

    {% set list = ['Банковские гарантии', 'Рассчетно-кассовое обслуживания', 'Кредитование', 'Факторинг', 'Финансирование контрактов', 'Зарплатные проекты'] %}

    {% for item in list %}
      <li class="fin-products__item">
        <a href="#" class="fin-products__item-link">
          <h3 class="fin-products__item-title">{{ item }}</h3>
          <span class="fin-products__go">Перейти</span>
          <svg class="fin-products__item-arrow"><use xlink:href="assets/sprite.svg#arrow-right"></use></svg>
        </a>
      </li>
    {% endfor %}
    </ul>
  </div>
</section>

<section class="purchase-service">
  <div class="container">
    <h2 class="purchase-service__title title">Услуги в&nbsp;сфере закупок</h2>
    <div class="purchase-service__wrap">
      <div class="purchase-service__card _customer">
        <h3 class="purchase-service__card-title">Заказчику</h3>
        <ul class="purchase-service__list">
          <li class="purchase-service__item">Расчет и&nbsp;обоснование НМЦ</li>
          <li class="purchase-service__item">Подготовка закупочной документации</li>
          <li class="purchase-service__item">Централизация закупочной деятельности</li>
          <li class="purchase-service__item">Организация и&nbsp;проведение закупки, заключение контракта</li>
        </ul>
      </div>
      <div class="purchase-service__card _participant">
        <h3 class="purchase-service__card-title">Участнику</h3>
        <ul class="purchase-service__list">
          <li class="purchase-service__item">Ускоренная регистрация на&nbsp;АСТ ГОЗ</li>
          <li class="purchase-service__item">Поиск закупок, анализ документации</li>
          <li class="purchase-service__item">Подготовка заявки</li>
          <li class="purchase-service__item">Подача заявки</li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% include 'templates/banner.twig' %}

{% endblock %}
